@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg-1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.5)), url('/f81b6208cb3da0f5ecc0f0d109ca4bd01.jpg');
    background-size: cover;
    background-position: center;
}

.custom-bg-2 {
    background-image:
        url('/border1.jpg');
   
}
.custom-bg-3 {
    background-image: url('/bg-3.jpg');
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.custom-bg-3 {
    background-image:
        url('/bg-3.jpg');
   
}


.text-shadow {
    text-shadow: 5px 4px 0 #800020;
}
.text-shadow-2 {
    text-shadow: 2px 1px 0 #800020;
}